@font-face {
  font-family: 'Cyberthrone';
  src: url('https://uploads-ssl.webflow.com/5c9c9c646cf0969b319f264f/5d0751a28518922f090030ce_Cyberthrone.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Tt trailers';
  src: url('https://uploads-ssl.webflow.com/5c9c9c646cf0969b319f264f/5c9ca1f3d88d00e048f145fd_TT%20Trailers%20Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Favorit';
  src: url('https://uploads-ssl.webflow.com/5c9c9c646cf0969b319f264f/5d0751a31b310b5008c32386_Favorit_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

